* {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0F0F0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23F0F0F0' stroke-width='0.2' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(19.6) translate(-948.98 -711.73)'%3E%3Cuse fill='%23eeeeee' href='%23s' y='2'/%3E%3Cuse fill='%23eeeeee' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23ebebeb' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23ebebeb' href='%23s'/%3E%3Cuse fill='%23e9e9e9' href='%23s' x='2'/%3E%3Cuse fill='%23e9e9e9' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(19.6) translate(-948.98 -711.73)'%3E%3Cg fill='%23e6e6e6'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(19.6) translate(-948.98 -711.73)'%3E%3Cg fill='%23e6e6e6'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(19.6) translate(-948.98 -711.73)'%3E%3Cg fill='%23e4e4e4'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(19.6) translate(-948.98 -711.73)'%3E%3Cg fill='%23F0F0F0'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e1e1e1'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(19.6) translate(-948.98 -711.73)'%3E%3Cg fill='%23005A9E'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(19.6) translate(-948.98 -711.73)'%3E%3Cg fill='%23005A9E'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(19.6) translate(-948.98 -711.73)'%3E%3Cg fill='%23005A9E'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.card-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f2654;
  height: 85px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  gap: 20px;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.card-nav .logo {
  width: 130px;
  height: auto;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(100%);
  transition: filter 0.3s ease;
}

.search-container {
  position: relative;
  padding: 0 10px;
}

.card-nav .search-bar {
  padding: 8px 35px 8px 15px;
  /* Espaçamento para a lupa */
  background-color: #ffffff;
  color: #000;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 400px;
  /* Largura maior para deixar a barra de pesquisa mais bonita */
  transition: transform 0.2s, box-shadow 0.3s ease;
}

.card-nav .search-bar:focus {
  outline: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.card-nav .search-bar::placeholder {
  font-style: italic;
  color: #7a7a7a;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button i {
  color: #005a9e;
  font-size: 20px;
}

.card-nav .search-bar:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.card-nav .search-bar:focus+.search-button i {
  color: #2486bf;
}

.card-nav .nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  color: #ffffff;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}

.card-nav .nav-button img {
  width: 20px;
  margin-right: 8px;
  filter: invert(100%);
}

.card-nav .nav-button:hover {
  background-color: #2486bf;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.card-nav .nav-button i {
  font-size: 24px;
  margin-right: 8px;
}

.card-nav .nav-button.pedido {
  background-color: #005a9e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #005a9e;
}

.card-nav .nav-button.perfil {
  background-color: #4b8cbf;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #4b8cbf;
}

.card-nav .nav-button:hover.pedido {
  background-color: #0f2654;
}

.card-nav .nav-button:hover.perfil {
  background-color: #0f2654;
}

.card {
  margin: 0 auto;
  padding: 2px;
  background-color: #0f2654;
  box-shadow: 0px 5px 10px #90ace4;
}

.card-header {
  background-image: url("../images/farmacia-municipal3p.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  background-attachment: scroll;
}

.header-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  margin-left: 1px;
  margin-top: 2px;
}

.header-button input {
  background-color: #0f2654;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-button input:hover {
  background-color: #005a9e;
  transform: scale(1.05);
  box-shadow: 0 6px 8px #0000004d;
}

.card-conteiner-tittle {
  text-align: center;
  font-size: 2.5em;
  /* Ajusta o tamanho */
  font-weight: bold;
  color: #ffffff;
  /* Cor do texto */
  text-shadow: 3px 3px 6px #22225b9f;
}

.remedios-classificacao {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: auto;
  padding: 15px;
  background-color: #005a9e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  position: sticky;
  top: 80px;
  z-index: 900;
}

.remedios-classificacao input[type="button"] {
  padding: 10px 25px;
  background-color: #22225b9f;
  color: #fff;
  border: 2px solid #005a9e;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}

.remedios-classificacao input[type="button"]:hover {
  background-color: #2486bf;
  /* Cor de fundo unificada */
  transform: translateY(-3px) scale(1.05);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
  color: #ffffff
}

.card-conteiner-tittle h2 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.card-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.medicamento {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.medicamento img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.medicamento h3 {
  font-size: 1rem;
  margin: 0;
}


.medicamento:hover {
  border: 1px solid #005a9ecf;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}


footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.footer_conteiner {
  font-family: sans-serif;
  font-size: 10pt;
}

.contact-section {
  border: 3px solid #2486bf;
  background-color: #2486bf8a; /* Azul agradável */
  padding: 5rem;
  border-radius: 10px;
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s;
}

.contact-section:hover{
  background-color:#2486bfd5;
}

.contact-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form .form-group {
  text-align: left;
}

.contact-form label {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: block;
  color: #ffffff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid #2486bf;
  border-radius: 10px;
  font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #0056b3;
}

.contact-submit {
  padding: 0.8rem 1.5rem;
  background-color: #2486bf;
  border: none;
  border-radius: 10px;
  color: #003f82;
  border: 5px solid #2486bf;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-submit:hover {
  background-color: #003f82;
  border: 5px solid #003f82;
  color: white;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 0 20px;
  }
}